.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}


body {
  background-color: #121212;
  color: white;
}

.model-viewer-container {
  width: 90vw;
  max-width: 700px;
  height: 80vh;
  max-height: 700px;
  background: rgba(0, 0, 0, 0.6); /* mais visível e consistente */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* evita que algo vaze */
  position: relative;
}

model-viewer.viewer {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #ffffffcc;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  color: #122F3F;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  z-index: 11;
}

.close-button:hover {
  background-color: #eee;
}

.ar-button {
  position: fixed;
  top: 70px; /* um pouco abaixo do fechar */
  right: 20px;
  z-index: 10000;
  background: white;
  color: black;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
