.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #ffffffcc;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  color: #122F3F;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  z-index: 11;
}

.close-button:hover {
  background-color: #eee;
}
